@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var message = ViewBag.Message;
}

<div class="alert alert-dark text-white my-5">@message</div>
