html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    color :#FFFFFF;
}
body a{
    color: #FFFFFF;
}

    body a:hover {
        color: #b02a37;
    }
.bg-grey {
    background-color: #191A19;
}

.bg-dark {
    background-color: #000000;
}
.form-floating{
    margin-bottom:10px;
}
.form-floating label {
    color: #000;
}

.btn-primary {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
    .btn-primary:hover, .btn-primary:focus {
        color: #fff;
        background-color: #bb2d3b;
        border-color: #bb2d3b;
        box-shadow: 0 0 0 .25rem rgba(219, 53, 69,0.5);
    }
    primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
        color: #fff;
        background-color: #bb2d3b;
        border-color: #bb2d3b;
    }
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #dc3545;
}
.nav-link {
    color: #dc3545;
}
.nav-link:focus, .nav-link:hover {
        color: #b02a37;
}
